# Python
__pycache__/
*.pyc

# Notebooks
*.ipynb

# Documents
*.pdf
*.docx

# Temp / system files
*.tmp
~$*
*.log

# VS Code
.vscode/

# Streamlit temp files
tempCodeRunnerFile.py

# Your project-specific large folders
data_augmented/
data_original/
models/

# Optional cleanup (recommended)
temp/
v1/
scripts/
evaluation_plots/